USE [master]
GO
/****** Object:  Database [GerenciamentoPatrimonio]    Script Date: 28/04/2026 10:01:14 ******/
CREATE DATABASE [GerenciamentoPatrimonio]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GerenciamentoPatrimonio', FILENAME = N'C:\Users\42332992820\GerenciamentoPatrimonio.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GerenciamentoPatrimonio_log', FILENAME = N'C:\Users\42332992820\GerenciamentoPatrimonio_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GerenciamentoPatrimonio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GerenciamentoPatrimonio]
GO
/****** Object:  Table [dbo].[Area]    Script Date: 28/04/2026 10:01:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Area](
	[AreaID] [uniqueidentifier] NOT NULL,
	[NomeArea] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AreaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NomeArea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bairro]    Script Date: 28/04/2026 10:01:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bairro](
	[BairroID] [uniqueidentifier] NOT NULL,
	[NomeBairro] [varchar](50) NOT NULL,
	[CidadeID] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BairroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cargo]    Script Date: 28/04/2026 10:01:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargo](
	[CargoID] [uniqueidentifier] NOT NULL,
	[NomeCargo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CargoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NomeCargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cidade]    Script Date: 28/04/2026 10:01:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cidade](
	[CidadeID] [uniqueidentifier] NOT NULL,
	[NomeCidade] [varchar](50) NOT NULL,
	[Estado] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CidadeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Endereco]    Script Date: 28/04/2026 10:01:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Endereco](
	[EnderecoID] [uniqueidentifier] NOT NULL,
	[Logradouro] [varchar](100) NOT NULL,
	[Numero] [int] NULL,
	[Complemento] [varchar](20) NULL,
	[CEP] [varchar](10) NULL,
	[BairroID] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EnderecoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Localizacao]    Script Date: 28/04/2026 10:01:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localizacao](
	[LocalizacaoID] [uniqueidentifier] NOT NULL,
	[NomeLocal] [varchar](100) NOT NULL,
	[LocalSAP] [int] NULL,
	[DescricaoSAP] [varchar](100) NULL,
	[Ativo] [bit] NULL,
	[AreaID] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LocalizacaoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocalUsuario]    Script Date: 28/04/2026 10:01:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalUsuario](
	[LocalizacaoID] [uniqueidentifier] NOT NULL,
	[UsuarioID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_LocalUsuario] PRIMARY KEY CLUSTERED 
(
	[LocalizacaoID] ASC,
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogPatrimonio]    Script Date: 28/04/2026 10:01:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogPatrimonio](
	[LogPatrimonioID] [uniqueidentifier] NOT NULL,
	[DataTransferencia] [datetime2](0) NOT NULL,
	[TipoAlteracaoID] [uniqueidentifier] NOT NULL,
	[StatusPatrimonioID] [uniqueidentifier] NOT NULL,
	[PatrimonioID] [uniqueidentifier] NOT NULL,
	[UsuarioID] [uniqueidentifier] NOT NULL,
	[LocalizacaoID] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LogPatrimonioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patrimonio]    Script Date: 28/04/2026 10:01:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patrimonio](
	[PatrimonioID] [uniqueidentifier] NOT NULL,
	[Denominacao] [varchar](max) NOT NULL,
	[NumeroPatrimonio] [varchar](30) NULL,
	[Valor] [decimal](10, 2) NULL,
	[Imagem] [varchar](max) NULL,
	[Ativo] [bit] NULL,
	[LocalizacaoID] [uniqueidentifier] NOT NULL,
	[TipoPatrimonioID] [uniqueidentifier] NOT NULL,
	[StatusPatrimonioID] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PatrimonioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SolicitacaoTransferencia]    Script Date: 28/04/2026 10:01:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitacaoTransferencia](
	[SolicitacaoTransferenciaID] [uniqueidentifier] NOT NULL,
	[DataCriacaoSolicitacao] [datetime2](0) NOT NULL,
	[DataResposta] [datetime2](0) NULL,
	[Justificativa] [varchar](max) NOT NULL,
	[StatusTransferenciaID] [uniqueidentifier] NOT NULL,
	[UsuarioIDSolicitacao] [uniqueidentifier] NOT NULL,
	[UsuarioIDAprovacao] [uniqueidentifier] NULL,
	[PatrimonioID] [uniqueidentifier] NOT NULL,
	[LocalID] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SolicitacaoTransferenciaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusPatrimonio]    Script Date: 28/04/2026 10:01:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusPatrimonio](
	[StatusPatrimonioID] [uniqueidentifier] NOT NULL,
	[NomeStatus] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusPatrimonioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NomeStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusTransferencia]    Script Date: 28/04/2026 10:01:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusTransferencia](
	[StatusTransferenciaID] [uniqueidentifier] NOT NULL,
	[NomeStatus] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusTransferenciaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NomeStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoAlteracao]    Script Date: 28/04/2026 10:01:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoAlteracao](
	[TipoAlteracaoID] [uniqueidentifier] NOT NULL,
	[NomeTipo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoAlteracaoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NomeTipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoUsuario]    Script Date: 28/04/2026 10:01:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoUsuario](
	[TipoUsuarioID] [uniqueidentifier] NOT NULL,
	[NomeTipo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoUsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NomeTipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 28/04/2026 10:01:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioID] [uniqueidentifier] NOT NULL,
	[NIF] [varchar](7) NOT NULL,
	[Nome] [varchar](150) NOT NULL,
	[RG] [varchar](15) NULL,
	[CPF] [varchar](11) NOT NULL,
	[CarteiraTrabalho] [varchar](14) NOT NULL,
	[Senha] [varbinary](32) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[Ativo] [bit] NULL,
	[EnderecoID] [uniqueidentifier] NOT NULL,
	[CargoID] [uniqueidentifier] NOT NULL,
	[TipoUsuarioID] [uniqueidentifier] NOT NULL,
	[PrimeiroAcesso] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CarteiraTrabalho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CPF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Area] ADD  DEFAULT (newid()) FOR [AreaID]
GO
ALTER TABLE [dbo].[Bairro] ADD  DEFAULT (newid()) FOR [BairroID]
GO
ALTER TABLE [dbo].[Cargo] ADD  DEFAULT (newid()) FOR [CargoID]
GO
ALTER TABLE [dbo].[Cidade] ADD  DEFAULT (newid()) FOR [CidadeID]
GO
ALTER TABLE [dbo].[Endereco] ADD  DEFAULT (newid()) FOR [EnderecoID]
GO
ALTER TABLE [dbo].[Localizacao] ADD  DEFAULT (newid()) FOR [LocalizacaoID]
GO
ALTER TABLE [dbo].[Localizacao] ADD  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[LogPatrimonio] ADD  DEFAULT (newid()) FOR [LogPatrimonioID]
GO
ALTER TABLE [dbo].[Patrimonio] ADD  DEFAULT (newid()) FOR [PatrimonioID]
GO
ALTER TABLE [dbo].[Patrimonio] ADD  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[SolicitacaoTransferencia] ADD  DEFAULT (newid()) FOR [SolicitacaoTransferenciaID]
GO
ALTER TABLE [dbo].[StatusPatrimonio] ADD  DEFAULT (newid()) FOR [StatusPatrimonioID]
GO
ALTER TABLE [dbo].[StatusTransferencia] ADD  DEFAULT (newid()) FOR [StatusTransferenciaID]
GO
ALTER TABLE [dbo].[TipoAlteracao] ADD  DEFAULT (newid()) FOR [TipoAlteracaoID]
GO
ALTER TABLE [dbo].[TipoUsuario] ADD  DEFAULT (newid()) FOR [TipoUsuarioID]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT (newid()) FOR [UsuarioID]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [PrimeiroAcesso]
GO
ALTER TABLE [dbo].[Bairro]  WITH CHECK ADD  CONSTRAINT [FK_Bairro_Cidade] FOREIGN KEY([CidadeID])
REFERENCES [dbo].[Cidade] ([CidadeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bairro] CHECK CONSTRAINT [FK_Bairro_Cidade]
GO
ALTER TABLE [dbo].[Endereco]  WITH CHECK ADD  CONSTRAINT [FK_Endereco_Bairro] FOREIGN KEY([BairroID])
REFERENCES [dbo].[Bairro] ([BairroID])
GO
ALTER TABLE [dbo].[Endereco] CHECK CONSTRAINT [FK_Endereco_Bairro]
GO
ALTER TABLE [dbo].[Localizacao]  WITH CHECK ADD  CONSTRAINT [FK_Localizacao_Area] FOREIGN KEY([AreaID])
REFERENCES [dbo].[Area] ([AreaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Localizacao] CHECK CONSTRAINT [FK_Localizacao_Area]
GO
ALTER TABLE [dbo].[LocalUsuario]  WITH CHECK ADD  CONSTRAINT [FK_LocalUsuario_Localizacao] FOREIGN KEY([LocalizacaoID])
REFERENCES [dbo].[Localizacao] ([LocalizacaoID])
GO
ALTER TABLE [dbo].[LocalUsuario] CHECK CONSTRAINT [FK_LocalUsuario_Localizacao]
GO
ALTER TABLE [dbo].[LocalUsuario]  WITH CHECK ADD  CONSTRAINT [FK_LocalUsuario_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[LocalUsuario] CHECK CONSTRAINT [FK_LocalUsuario_Usuario]
GO
ALTER TABLE [dbo].[LogPatrimonio]  WITH CHECK ADD  CONSTRAINT [FK_LogPatrimonio_Localizacao] FOREIGN KEY([LocalizacaoID])
REFERENCES [dbo].[Localizacao] ([LocalizacaoID])
GO
ALTER TABLE [dbo].[LogPatrimonio] CHECK CONSTRAINT [FK_LogPatrimonio_Localizacao]
GO
ALTER TABLE [dbo].[LogPatrimonio]  WITH CHECK ADD  CONSTRAINT [FK_LogPatrimonio_Patrimonio] FOREIGN KEY([PatrimonioID])
REFERENCES [dbo].[Patrimonio] ([PatrimonioID])
GO
ALTER TABLE [dbo].[LogPatrimonio] CHECK CONSTRAINT [FK_LogPatrimonio_Patrimonio]
GO
ALTER TABLE [dbo].[LogPatrimonio]  WITH CHECK ADD  CONSTRAINT [FK_LogPatrimonio_StatusPatrimonio] FOREIGN KEY([StatusPatrimonioID])
REFERENCES [dbo].[StatusPatrimonio] ([StatusPatrimonioID])
GO
ALTER TABLE [dbo].[LogPatrimonio] CHECK CONSTRAINT [FK_LogPatrimonio_StatusPatrimonio]
GO
ALTER TABLE [dbo].[LogPatrimonio]  WITH CHECK ADD  CONSTRAINT [FK_LogPatrimonio_TipoAlteracao] FOREIGN KEY([TipoAlteracaoID])
REFERENCES [dbo].[TipoAlteracao] ([TipoAlteracaoID])
GO
ALTER TABLE [dbo].[LogPatrimonio] CHECK CONSTRAINT [FK_LogPatrimonio_TipoAlteracao]
GO
ALTER TABLE [dbo].[LogPatrimonio]  WITH CHECK ADD  CONSTRAINT [FK_LogPatrimonio_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[LogPatrimonio] CHECK CONSTRAINT [FK_LogPatrimonio_Usuario]
GO
ALTER TABLE [dbo].[Patrimonio]  WITH CHECK ADD  CONSTRAINT [FK_Patrimonio_Localizacao] FOREIGN KEY([LocalizacaoID])
REFERENCES [dbo].[Localizacao] ([LocalizacaoID])
GO
ALTER TABLE [dbo].[Patrimonio] CHECK CONSTRAINT [FK_Patrimonio_Localizacao]
GO
ALTER TABLE [dbo].[Patrimonio]  WITH CHECK ADD  CONSTRAINT [FK_Patrimonio_StatusPatrimonio] FOREIGN KEY([StatusPatrimonioID])
REFERENCES [dbo].[StatusPatrimonio] ([StatusPatrimonioID])
GO
ALTER TABLE [dbo].[Patrimonio] CHECK CONSTRAINT [FK_Patrimonio_StatusPatrimonio]
GO
ALTER TABLE [dbo].[SolicitacaoTransferencia]  WITH CHECK ADD  CONSTRAINT [FK_SolicitacaoTransferencia_Local] FOREIGN KEY([LocalID])
REFERENCES [dbo].[Localizacao] ([LocalizacaoID])
GO
ALTER TABLE [dbo].[SolicitacaoTransferencia] CHECK CONSTRAINT [FK_SolicitacaoTransferencia_Local]
GO
ALTER TABLE [dbo].[SolicitacaoTransferencia]  WITH CHECK ADD  CONSTRAINT [FK_SolicitacaoTransferencia_Patrimonio] FOREIGN KEY([PatrimonioID])
REFERENCES [dbo].[Patrimonio] ([PatrimonioID])
GO
ALTER TABLE [dbo].[SolicitacaoTransferencia] CHECK CONSTRAINT [FK_SolicitacaoTransferencia_Patrimonio]
GO
ALTER TABLE [dbo].[SolicitacaoTransferencia]  WITH CHECK ADD  CONSTRAINT [FK_SolicitacaoTransferencia_StatusTransferencia] FOREIGN KEY([StatusTransferenciaID])
REFERENCES [dbo].[StatusTransferencia] ([StatusTransferenciaID])
GO
ALTER TABLE [dbo].[SolicitacaoTransferencia] CHECK CONSTRAINT [FK_SolicitacaoTransferencia_StatusTransferencia]
GO
ALTER TABLE [dbo].[SolicitacaoTransferencia]  WITH CHECK ADD  CONSTRAINT [FK_SolicitacaoTransferencia_UsuarioAprovacao] FOREIGN KEY([UsuarioIDAprovacao])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[SolicitacaoTransferencia] CHECK CONSTRAINT [FK_SolicitacaoTransferencia_UsuarioAprovacao]
GO
ALTER TABLE [dbo].[SolicitacaoTransferencia]  WITH CHECK ADD  CONSTRAINT [FK_SolicitacaoTransferencia_UsuarioSolicitacao] FOREIGN KEY([UsuarioIDSolicitacao])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[SolicitacaoTransferencia] CHECK CONSTRAINT [FK_SolicitacaoTransferencia_UsuarioSolicitacao]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Cargo] FOREIGN KEY([CargoID])
REFERENCES [dbo].[Cargo] ([CargoID])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Cargo]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Endereco] FOREIGN KEY([EnderecoID])
REFERENCES [dbo].[Endereco] ([EnderecoID])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Endereco]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_TipoUsuario] FOREIGN KEY([TipoUsuarioID])
REFERENCES [dbo].[TipoUsuario] ([TipoUsuarioID])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_TipoUsuario]
GO
USE [master]
GO
