# FORMAS DE CONEXÃO

# Conexão com Windows Authentication
# CONNECTION_STRING=Server=(localdb)\MSSQLLocalDB;Database=GerenciamentoPatrimonio;Trusted_Connection=True;TrustServerCertificate=True

# SQL Server Authentication (Usuário e senha)
# CONNECTION_STRING=Server=(localdb)\MSSQLLocalDB;Database=GerenciamentoPatrimonio;User Id=SEU USUARIO;Password=SUA_SENHA;TrustedServerCertificate=True

# Configuração chave JWT
# Chave precisa ter ao menos 32 caracteres
JWT_KEY=sua_chave_aqui